/**
 đặt biến trong css bắt đầu từ :root{ tên biến }
 root là lớp giả root là lobal dùng khấp mội nợi ở biến
 local thì đặt ngay thẻ hoạc class id --... tên biến rồi thuộc tính
 để sử dụng biên thì dùng var(tên biến) từ khóa tìm kiếm css function
 mục đích đặt biến là khi sử dụng nhiều nơi chỉ cần sử 1 chổ
  CSS unit:
    1.CSS Absolute unit (là css tuyệt đối):
      - px:là điểm ảnh.
      - pt:
      - cm:
      - mm
      - inch
      - pc
    2.Css Relative unit (là tương đối):
    -Lưu ý: đơn vị tương đói cần một nơi thuộc vào
      - %: thằng này sẻ thuộc vào thằng chứa nó (thằng cha);
      -rem:thằng này phụ thuộc vào thẻ html vd html có fontsize: 20px thì 1 rem=20px 
           trong thực tế thằng này sẻ sử dụng nhiều hơn và dể thẻ html fontsize:100% mặc định fontsize 100% là 16px
      -em:thăng này nó thuộc vào thẻ chứ nó gần nhât vd thằng chứa nó gần nó có fontsize=10px thì 1em=10px
      -vw(viewport width): thằng này phụ thuộc vào kích thước chiều ngang của trình duyệt
      -vh(viewport height): thằng này phụ thược vào chiều dài của kích thước của trình duyệt
      -vmin
      -vmax
    3.box-sizing: chiều ngàng của đối tượng = kích thuoc của border + kích thuocs pading+ kích thước content
      thuộc tính:
        -content-box: đây là thuộc tính mặt đinh của box-sizing là ko set thuộc tính box-sizing trở kích thuoc chưa set box-sizing
        -border-box: đây là thuộc tính kích hoạt box-sizing
        -unset: là hủy thuộc tính, trong thức tế khi muốn hủy box-sizing thì gọi là hàm này để unset để hủy thuộc tính trước đó của class hoạc id của đó
    4.background-clip: là nó quyết định backgroup được độ ranh giới nào
      thuộc tính:
        -border-box: Thuộc tính là trạng thái mặt đinh của backbgroup clip
        -padding-box: Thuộc tính là trạng thái đổ backgroup từ padding vào
        -content-box: Thuộc tính là trạng thái đổ backgroup từ content vào
    5.background-origin: nó có tương tự như backgroud-clip nhưng nó thường sử dụng cho background-image
      thuộc tính:
        -border-box: Thuộc tính là trạng thái mặt đinh của backbgroup clip
        -padding-box: Thuộc tính là trạng thái đổ backgroup từ padding vào
        -content-box: Thuộc tính là trạng thái đổ backgroup từ content vào
    6.Background position: xác đinh vị trí của backgroud image 
        -Niếu truyền 1 thuộc tính vị trí center,top,left,right,bottom thì thuộc tính thứ 2 tự hiểu là center,
         tương tự giá trị số như 10px,20px, 10%,20%,10rem thì thuộc tính thứ 2 là tự center.
        Lưu ý nó còn có thể định nghĩa cả vị trí keyword vàgiá trị số như 
        vd: ban muốn hình nó float theo top right và bạn muốn nó cách top 10px và 20 px thì bạn có thể ghi như sau: background-position:top 10px right 20px 
    7.Css function:
      -var(): đặt biến
      -linear-gradient():
      -rgba():chỉnh màu trong xuốt
      -rgb(): cài này chỉnh màu ko có trong xuốt
      -calc():giúp tính toán được vd (120px - 50px) nhớ có khoản trắng ở dấu - có thể có giá trị tương đối và tuyệt đối
      -attr():nó là thuộc tính html thường lớp giả 
    8.Css Pseudo classes:lớp giả bắt đầu có dấu :
      - :root: đây là lớp giả tham chiếu chinh phần tử góc file html.
      - :hover:đây là lớp giả khi di chuyển chuộc vào thì nó ẻ kích hoạt thuộc tính hover
      - :active: daay là lớp giả nó chỉ kích hoạt các thuộc tính bên trong khi click chuột
      - :first-child
      - :last-child
    9.css Pseudo elements: đay là phân tử giả của css,phần tử giả này cần phải có thuộc tính content mới tồn tại được, mỗi emlement chỉ có một phần tử giả
      - ::before: phần tử giả ở trướng
      - ::after: phần tử giả ở sau
      - ::first-latter: đây là phần tử giả cho ký text ký tự đầu tiên muốn thuộc tính khác vd muốn nó inhoa hay đổi màu chử chử to hơn
      - ::first-line: đây là phần tử giả cho để cấu hình css cho dòng đâu tiên muốn thay đổi dòng đầu tiên nó sao thì chỉ cần ghi first
      - ::selection: đây là phàn tử giả thay dổi khi khi quét copy vd dổi màu background hay đổi màu chư
    10.CSS Position:
    -Relative: là vị trí tương đối lấy chính mình làm góc tạo độ ko phụ thuộc vào thằng bên ngoài nào cả
    -Absolute: là vị trí tương đối phụ thuộc vào vị trí elements có position gần nó nhất làm góc tạo độ và điều coi là thằng cha nó.
     

/* vd: biến */
:root {
  --text-color: red;
}

h1 {
  color: var(--text-color);
}

/* vd attr() trong css */

a::after {
  content: " ("attr(href) ")";
}