.header {
  height: 150px;
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.header__navbar-list {
  list-style: none;
  margin-top: 4px;
}

.header__navbar-item {
  margin: 0 8px;
  position: relative;
  min-width: 26px;
}

.header__navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  border-left: 1px solid #fb9086;
  right: -9px;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
}

.header__navbar-item,
.header_navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.header__navbar-item,
.header_navbar-item-link,
.header__navbar-icon-link {
  display: inline-block;
  align-items: center;
}

.header__navbar-item:hover,
.header_navbar-item-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header_navbar-item-link--strong {
  font-weight: 500;
}

.header__navbar-icon-link {
  color: #fff;
  text-decoration: none;
}

.header__navbar-icon-link:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.header___navbar-icon {
  font-size: 1.8rem;
  margin: 0 8px;
}

.header__navbar-item--no-pointer {
  cursor: text;
  color: var(--white-color);
}